
<h1> Which Task (by id) Would You Like To See? </h1>
<h2><%= text_field_tag "", :id %><h2>

<ul>
  <li> name: <%= @task.name %> </li>
  <li> description: <%= @task.description %> </li>
  <li> status: <%= @task.status ? "completed" : "incomplete"%></li>
  <li> date completed: <%= @task.date %> </li>
  <h2 class="link"><%= link_to "back", tasks_path%></h2>
  <h2 class="link"><%= link_to 'Edit', tasks_edit_path(@task) %></h2>
</ul>
